{% extends 'admin_panel/base.html' %}
{% load static %} {# N'oubliez pas ceci pour servir les images si MEDIA_URL est configuré #}

{% block title %}Liste des Plats{% endblock %}

{% block content %}
    <h2>Liste des Plats</h2>
    <a href="{% url 'admin_plat_create' %}" class="btn">Ajouter un Plat</a>

    {% if plats %}
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Épuisé</th>
                    <th>Spécialité du Jour</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for plat in plats %}
                <tr>
                    <td>
                        {% if plat.image %}
                            <img src="{{ plat.image.url }}" alt="{{ plat.nom }}" style="width: 50px; height: 50px; object-fit: cover;">
                        {% else %}
                            Pas d'image
                        {% endif %}
                    </td>
                    <td>{{ plat.nom }}</td>
                    <td>{{ plat.categorie.nom }}</td>
                    <td>{{ plat.prix }} F CFA</td>
                    <td>
                        <form method="post" action="{% url 'admin_plat_toggle_status' plat.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="toggle_epuise" class="btn {% if plat.est_epuise %}btn-danger{% else %}btn-warning{% endif %}">
                                {% if plat.est_epuise %}Oui{% else %}Non{% endif %}
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'admin_plat_toggle_status' plat.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="toggle_specialite" class="btn {% if plat.specialite_du_jour %}btn-warning{% else %}btn-primary{% endif %}">
                                {% if plat.specialite_du_jour %}Oui{% else %}Non{% endif %}
                            </button>
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'admin_plat_update' plat.pk %}" class="btn btn-warning">Modifier</a>
                        <a href="{% url 'admin_plat_delete' plat.pk %}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun plat n'a été trouvé.</p>
    {% endif %}
{% endblock %}