    .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }

    nav.navbar {
      z-index: 1050;
    }

    header .container {
      z-index: 2;
    }

    .card img {
      height: 200px;
      object-fit: cover;
    }